@import 'links';
@import 'typography';
@import 'colors';

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 4rem 1rem;
	min-height: 100vh;
	gap: 2rem;

	background-color: $background;
	color: $light;

	> * {
		max-width: 32rem;
	}
}

section {
	margin: 1rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
