@import 'links';
@import 'typography';
@import 'colors';

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 4rem 1rem;
	min-height: 100vh;
	gap: 2rem;

	background-color: $background;
	color: $light;

	// > * {
	// 	max-width: 32rem;
	// }
}

.button-wrapper {
	display: inline-block;
	background-color: transparent;
	position: relative;

	border: 1px solid $light;
	border-radius: 8px;
	overflow: hidden;

	button {
		color: transparent;
		font-size: 1.25em;

		padding: 0.75rem 1rem;

		height: 100%;
		width: 100%;
		border: none;
		transition: all 0.5s;
		mask: url('https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png');
		-webkit-mask: url('https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png');
		mask-size: 3000% 100%;
		-webkit-mask-size: 3000% 100%;

		cursor: pointer;
		-webkit-animation: ani2 0.7s steps(29) forwards;
		animation: ani2 0.7s steps(29) forwards;
	}

	span {
		z-index: 1;
		padding: 0.75rem 1rem;

		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $background;
		font-size: 1.25em;
		transition: color 0.5s;
		text-wrap: nowrap;
		width: 100%; // Adjust width if necessary
		height: 100%; // Adjust height if necessary
	}

	&:hover,
	&:focus,
	&:focus-within {
		span {
			color: $light;
		}

		button {
			-webkit-animation: ani 0.7s steps(29) forwards;
			animation: ani 0.7s steps(29) forwards;
			color: transparent;
		}
	}
}

@keyframes ani {
	from {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}

	to {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}
}

@keyframes ani2 {
	from {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}

	to {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}
}

.sr-only {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}
